.form-input {
  padding: 5px;
  background: white;
  width: 65%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.form-input input {
  width: 95%;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 10px;
  font-size: 16px;
  padding-left: 5px;
  position: relative;
  z-index: 2;
}

.icon {
  font-size: 20px;
  opacity: 0.4;
}

.form-input
{
    position: relative;
}

.input-field
{
    width: 84%;
}
.input-lable
{
    position: absolute;
    top: 14px;
    padding: 0px 12px;
    background-color: transparent;
    transition: 0.2s ease;
    opacity: 0.6;
}


input:focus + .input-lable ,
input:valid + .input-lable
{
    transform: translate(-18px, -28px) scale(0.88);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    z-index: 1111;
    opacity: 0.6;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}


.error-text
{
    border: 2px solid #f96767;
}

.error-message
{
    position: absolute;
    left: 0;
    bottom: -28px;
    font-size: 14px;
    color:  #f96767;
}
