.data-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  flex-wrap: wrap;
  padding: 5px;
}

.data-card {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 21rem;
  width: 100%;
}

.bar {
  width: 48%;
  height: 21rem;
}

.donut {
  width: 48%;
  height: 21rem;
}
